
@{
    ViewData["Title"] = "PasswordReset";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@model PasswordResetVM
<div class="profile-authentication-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="profile-authentication-image">
                    <div class="content-image">
                        <div class="logo">
                            <img src="~/assets/images/logo.png" alt="Zust">
                        </div>
                        <div class="vector-image">
                            <img src="~/assets/images/vector.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 " >
                <div class="login-form vh-100">
                    <h2>Password Reset</h2>

                    <form method="post">
                        <div class="form-group">
                            <label>Username or email</label>
                            <input asp-for="UsernameOrEmail" class="form-control">
                            <span asp-validation-for="UsernameOrEmail"></span>
                        </div>
                        <button type="submit" class="default-btn">Send Login Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="home-btn-icon">
        <a asp-action="Login" asp-controller="Account" class="btn btn-light"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
    </div>
</div>


