
@{
    ViewData["Title"] = "Update Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@model UpdatePasswordVM

<div class="profile-authentication-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="profile-authentication-image">
                    <div class="content-image">
                        <div class="logo">
                            <img src="~/assets/images/logo.png" alt="Zust">
                        </div>
                        <div class="vector-image">
                            <img src="~/assets/images/vector.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 ">
                <div class="login-form vh-100">
                    <h2>Password Reset</h2>

                    <form method="post">
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" class="form-control">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly"></div>
                        <button type="submit" class="default-btn">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="home-btn-icon">
        <a asp-action="Login" asp-controller="Account" class="btn btn-light"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
    </div>
</div>
